#classicformpage .view {
    background-image: url("https://g.foolcdn.com/editorial/images/588686/generic-bank-getty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #classicformpage .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h3 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #classicformpage label {
    color: #fff !important;
  }

  #innerpagedesign .view{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/003/621/544/small/abstract-grey-and-white-geometric-stylish-modern-background-design-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }

  #innerpagedesign .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  #innerpagedesign h3 {
    color: rgb(58, 58, 59);
    font-size: 40px;
    line-height: 1.7;
  }

  #innerpagedesign h4 {
    
    line-height: 30px;
   
  }


  
  